<div class="mat-elevation-z8">
  <table mat-table [dataSource]="info">
    <!-- Position Column -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Student ID</th>
      <td mat-cell *matCellDef="let element">{{ element.collegeId }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Student Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 8]"
    showFirstLastButtons
  ></mat-paginator>
</div>
