.error {
  color: red;
}

.whole-con {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.login-form {
  display: flex;
  flex: 1;
}

.right-form {
  display: flex;
  flex: 1;
  max-width: 50%;
  object-fit: contain;
  /* 
  background-image: url("https://res.cloudinary.com/dwo8ep45k/image/upload/v1572835604/2598566_oek6ez.jpg");
  background-size: "100%";
  background-repeat: no-repeat; */
}

.login-form-tab {
  display: flex;

  flex: 1;

  align-items: center;

  flex-direction: column;
}

.actions-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-tab-body-content {
  overflow: hidden;
}

.signup_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.whole_con {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
