<div class="container">
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      type="text"
      [formControl]="name"
      class="form-control"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      maxlength="32"
      placeholder="ID"
      [formControl]="collegeId"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="email" required />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      [formControl]="password"
      type="password"
      required
    />
  </mat-form-field>

  <!-- <mat-form-field [formControl]="collegeId" > 
        <input matInput #input maxlength="32" placeholder="Location">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field> -->
  <button (click)="signup()" mat-raised-button color="primary">Signup</button>
</div>
