<mat-toolbar
  >List of routes available
  <div style="position: absolute;right: 24px;">
    <button mat-button mat-raised-button color="success" (click)="showForm()">
      Add New Route
    </button>
    <button
      style=" margin-left: 100px;"
      mat-button
      mat-raised-button
      color="warn"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>

<table
  style="width: 100%;"
  mat-table
  [dataSource]="data"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element">{{ element.index }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="route_index">
    <th mat-header-cell *matHeaderCellDef>Bus No</th>
    <td mat-cell *matCellDef="let element">{{ element.route_index }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef>Destination</th>
    <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
  </ng-container>
  <ng-container matColumnDef="no_seats">
    <th mat-header-cell *matHeaderCellDef>Available no off seats</th>
    <td mat-cell *matCellDef="let element">{{ element.no_seats }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <button
      *matCellDef="let ele"
      mat-raised-button
      color="link"
      (click)="editRoute(ele)"
      style="margin-right: 64px;"
    >
      EDIT
    </button>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>

    <button
      *matCellDef="let ele"
      mat-raised-button
      color="warn"
      (click)="deleteRoute(ele)"
      style="margin-right: 64px;"
    >
      DELETE
    </button>
  </ng-container>
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>Details</th>

    <button
      *matCellDef="let ele"
      mat-raised-button
      color="warn"
      (click)="showDetails(ele)"
    >
      DETAILS
    </button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-container>
  <div class="" *ngIf="formVisible === true">
    <mat-form-field style="margin-right: 32px;">
      <input
        placeholder="destination"
        matInput
        [(ngModel)]="form.destination"
      />
    </mat-form-field>
    <mat-form-field style="margin-right: 32px;">
      <input placeholder="route id " matInput [(ngModel)]="form.route_index" />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="Number of seats"
        matInput
        [(ngModel)]="form.no_seats"
      />
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" (click)="submitForm()">
      Upload
    </button>
    <button>preview Like student</button>
  </div>
</ng-container>
